################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bank/.vs/Bankproject/v14
/bank/bin/Debug
/bank/obj/Debug
/.vs/BankingSystem/v14/.suo
