################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bank/.vs/Bankproject/v14
/bank/bin/Debug
/bank/obj/Debug
/.vs/BankingSystem/v14/.suo
/.vs/BankingSystem/v15
/BankApplication/bin/Debug/netcoreapp2.1
/BankApplication/Migrations
/BankApplication/obj
/.vs
/BankUI/bin/Debug/netcoreapp2.1
/BankUI/obj
/BankUI/Data/Migrations
